.wrapper {
    height: 96vh;
    padding: 4px 0 30px;
    background-color: #bce2e8;
    overflow-y: visible;
    position: relative;
    transition: width 0.3s ease;
    display: flex;
    justify-content: space-between;
}

.collapse {
    width: 60px;
}

.content {
    flex-grow: 1;
    transition: opacity 0.3s ease;
}

.hideOnCollapse {
    display: none;
}

.footerWrapper {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.toggleWrapper {
    margin-top: 12px;
}
